<%- include('./partials/header.ejs'); %>
<div class="container-fluid">
  <div class="row">

    <%- include('./partials/sidebar.ejs'); %>
    <div class="col-lg-8 col-sm-12 justify-content-center d-flex">
      <div class="postContainer w-100">
        <!--Add post form-->
        <div class="mb-5">
          <div class="image-preview text-center d-none">
            <div class="img-container p-3">
              <img class="img-thumbnail img-fluid" id="photoPreview" src="" alt="image upload preview">
            </div>
          </div>
          
          <div>
            <form action="/posts" method="POST" enctype="multipart/form-data" class="form-group postFormContainer needs-validation" novalidate>
              <div class="form-row">
              <div class="uploadPhotoForm col-2 col-md-1 px-0">
                <i class="fa fa-camera upload-button"></i>
                <input class="file-upload" id="photoUpload" name="photoUpload" type="file" accept="image/*"/>
              </div>
              <div id="postTextForm" class="col-10 col-md-11 px-0">
                <textarea maxlength="500" type="text" class="form-control" id="postText" name="postText" placeholder="What do you want to say?" contenteditable="true" style="resize: vertical;" required></textarea>
                <p class="charCount"><span id="curCharCount">0</span>/500</p>
              </div>
            </div>
            <div class="form-row">
              <button class="btn btn-primary btn-block" type="submit" id="submitPostText">
                <span id="postBtnText">Post</span>
                <div class="spinner-grow spinner-grow-sm d-none" role="status" id="loadingSpinnerPost">
                  <span class="sr-only">Loading...</span>
                </div>
            </button>
            </div>
            </form>
          </div>
        </div>
      <!--End add post form-->
    
      <%- include('./partials/posts.ejs'); %>

      </div>
    </div>

    <%- include('./partials/editModal.ejs'); %>
    
</div>

<%- include('./partials/footer.ejs'); %>