<%- include('./partials/header.ejs'); %>


<div class="container" id="login-container">
    <div class="">
        <div class="">
            <h1 class="text-center mb-5" id="loginTitle"><strong>Welcome back!</strong></h1>
            <div class="row justify-content-md-center">
                <% if(groupName) { %>
                    <form action="/login/<%= groupId %>/<%= token %>" method="POST" class="centered col-md-4">
                <% }  else { %>
                <form action="/login" method="POST" class="centered col-md-4">
                <% } %>
                    <% if(groupName) { %> 
                        <div class="form-group mb-2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="groupIdLabel">Fam</span>
                                </div>
                                <label for="staticGroup" class="sr-only">Fam Name</label>
                                <input type="text" readonly class="form-control-plaintext pl-2" id="staticGroup" value="<%= groupName %>">
                            </div>
                            </div>
                    <% } %>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    <div class="my-4">
                        <hr class="hr-text or" data-content="OR">
                    </div>
                    <% if(groupName) { %>
                        <div class="text-center">
                            <p><a href="javascript:history.back()">Create a new account</a> and join this Fam</p>
                        </div>

                        <div class="my-4">
                            <hr class="hr-text or" data-content="OR">
                        </div>

                        <div class="text-center">
                            <p><a href="/login" id="register-btn">Login</a> <strong>without</strong> joining this Fam</p>
                        </div>
                    <% } else { %>
                        <div class="text-center">
                            <a href="/register" id="register-btn">Create a new account and a new Fam</a>
                        </div>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); %>