<%- include('./partials/header.ejs'); %>
<div class="container-fluid">
  <div class="row">
    <%- include('./partials/sidebar.ejs'); %>
    <div class="col-lg-8 col-sm-12 justify-content-center d-flex flex-column">
        
        <div class="d-flex flex-row justify-content-center">
            <div class="profileCircle">
                <% if(user.profilePhoto) { %>
                <img src="<%= user.profilePhoto.url %>" class="h-100" id="profilePicture" alt="profile picture">
                <% } else { %>
                <div class="profilePhotoPlaceholder">
                    <i class="fas fa-user"></i>
                </div>
                <% } %>
            </div>
        </div>
        <div class="flex-row">
            <h1 class="text-center"><%= user.firstName %> <%= user.lastName %></h1>
        </div>

        <div class="flex-row">
            <% posts.forEach((post, index) => { %>
                <!--Post container-->
                <div class="border p-3 my-3 col-12 post shadow rounded" id="post-<%= index+1 %>">
                <!--Post option menu-->
                    <div class="dropleft float-right">
                    <button class="btn btn-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button type="button" class="btn btn-transparent comment-btn dropdown-item">
                        <i class="fas fa-comment"></i> Comment
                        </button>
                        <% if(post.user.username === currentUser.username) { %>
                        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-transparent dropdown-item"><i class="fas fa-trash"></i> Delete post</button>
                        </form>
                        <button type="button" class="btn btn-transparent pr-2 edit-post-btn dropdown-item" data-toggle="modal" data-target="#editPostModal" data-whatever="@fat"><i class="fas fa-edit"></i> Edit post</button>
                        <% } %>
                    </div>
                    </div>
                    <!--End post options-->
                    <!--Post-->
                    <!--Profile picture-->
                    <div class="row mb-3">
                    <div class="col-12 d-flex postHeading">
                        <div class="postCircle mr-2">
                        <% if(post.user.profilePhoto) { %>
                            <img src="<%= post.user.profilePhoto ? post.user.profilePhoto.url : '' %>" class="h-100" id="profilePicture" alt="profile picture">
                        <% } else { %>
                            <div class="profilePhotoPlaceholderPost">
                            <i class="fas fa-user"></i>
                            </div>
                        <% } %>
                        </div>
                        <a href="/user/<%= post.user._id %>">
                        <h3 class="username"><%= post.user.firstName ? post.user.firstName : post.user.username %></h3>
                        </a>
                    </div>
                    </div>
                    <!--End profile picture-->
                    <!--Post body-->
                    <% if(post.photo) { %>
                    <div class="postPhotoContainer row justify-content-center">
                        <div class="img-container p-3 col-md-6 col-sm-12">
                        <img class="img-thumbnail img-fluid postPhoto" src="<%= post.photo.url %>" alt="Picture">
                        </div>
                    </div>
                    <% } %>
                    <% post.datePosted %>
                    <p class="date-posted text-muted"><%= post.datePosted.toLocaleString() %></p>
                    <p class="text post-<%= index+1 %>-text" id="<%= post._id %>-text"><%= post.text %></p>
                    <!--End post-->

                    <!--Button to show comments on post-->
                    <div class="actionsContainer">

                    <form class="d-inline" action="/posts/<%= post._id %>/addFistBump" method="POST">
                        <button class="btn btn-transparent commentsLabel"><i class="fas fa-fist-raised fistBumpIcon"></i> <span class="likeCount"><%= post.likes.length > 0 ? post.likes.length : '' %></span></button>
                    </form>

                    <a class="btn btn-transparent commentsLabel" data-toggle="collapse" href="#comments<%= index+1 %>" role="button" aria-expanded="false" aria-controls="collapseExample">Comments (<span class="numOfComments"><%= post.comments.length %></span>)</a>
                    </div>

                    <!--Comment input-->
                    <div class="form-group comment-input text-right" hidden>
                    <form action="/posts/<%= post._id %>/comments" method="POST">
                        <input class="form-control commentInput" type="text" name="comment">
                        <button class="btn btn-secondary mt-2 cancel-comment-btn" type="button">Cancel</button>
                        <button class="btn btn-primary mt-2 save-comment-btn" type="submit">Save comment</button>
                    </form>
                    </div>
                    <!--End comment input-->

                    <!--End button to show comments on post-->
                    <div class="collapse" id="comments<%= index+1 %>">
                    <% post.comments.forEach(comment => { %>
                        <div class="card" id="comment-<%= index+1 %>">
                        <div class="card-body">
                            <!--Post options-->
                            <% if(comment.author.username === currentUser.username) { %>
                            <div class="dropleft float-right">
                                <button class="btn btn-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button type="button" class="btn btn-transparent pr-2 edit-comment-btn dropdown-item" id="<%= comment._id %>-edit" data-toggle="modal" data-target="#editPostModal" data-whatever="@fat"><i class="fas fa-edit"></i> Edit comment</button>
                                <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="float-right">
                                    <button class="btn btn-transparent dropdown-item"><i class="fas fa-trash"></i> Delete comment</button>
                                </form>
                                </div>
                            </div>
                            <% } %>
                            <!--End post options-->
                            <!--Comment body-->
                            <p class="card-title"><strong><%= comment.author.firstName %></strong></p>
                            <p class="card-text comment" style="font-size: .75rem;" id="<%= comment._id %>-text"><%= comment.text %></p>
                            <!--End comment body-->
                        </div>
                        </div>
                    <% }) %>
                    </div>
                </div>
                <!--End post container-->
            <% }) %>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); %>