<%- include('./partials/header.ejs'); %>
<div class="container-fluid">
  <div class="row">
    <%- include('./partials/sidebar.ejs'); %>
    <div class="col-lg-8 col-sm-12 justify-content-center d-flex flex-column">
        
        <div class="d-flex flex-row justify-content-center">
            <div class="profileCircle">
                <% if(user.profilePhoto) { %>
                <img src="<%= user.profilePhoto.url %>" class="h-100" id="profilePicture" alt="profile picture">
                <% } else { %>
                <div class="profilePhotoPlaceholder" id="profilePagePhoto">
                    <i class="fas fa-user"></i>
                </div>
                <% } %>
            </div>
        </div>
        <div class="flex-row">
            <h1 class="text-center"><%= user.firstName %> <%= user.lastName %></h1>
        </div>

        <div class="flex-row">
            <%- include('./partials/posts.ejs'); %>
        </div>
    </div>
    </div>
</div>
<%- include('./partials/editModal.ejs'); %>

<%- include('./partials/footer.ejs'); %>