<%- include('./partials/header.ejs'); %>

<div class="container w-50">
    <h1 class="text-center mb-5" id="loginTitle"><strong>Join <%= appName %></strong></h1>
    <form action="/register/<%= token %>" method="POST" class="needs-validation" novalidate>
        <div class="form-row form-group">
            <div class="col">
                <input type="text" class="form-control" id="first-name" name="firstName" placeholder="First name" required autofocus>    
            </div>
            <div class="col">
                <input type="text" class="form-control" id="last-name" name="lastName" placeholder="Last name" required>
            </div>
        </div>
        <% if(groupName) { %> 
            <div class="form-group mb-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="groupIdLabel">Fam</span>
                    </div>
                    <label for="staticGroup" class="sr-only">Fam Name</label>
                    <input type="text" readonly class="form-control-plaintext pl-2" id="staticGroup" value="<%= groupName %>">
                  </div>
                </div>
        <% } else { %>
            <div class="form-group">
                <input type="text" class="form-control" id="family-name" name="familyName" aria-describedby="famHelp" placeholder="Group name" required>
                <small id="famHelp" class="form-text text-muted">This will create a new Fam. If you want to join an existing fam, contact someone in that fam.</small>
            </div>
        <% } %>
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email address" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="col">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>

    <% if(groupName) { %>
        <div class="my-4">
            <hr class="hr-text or" data-content="OR">
            <div class="text-center">
                <p><a href="/login/<%= groupId %>/<%= token %>">Login</a> and join this Fam!</p>
            </div>
        </div>
    <% } else { %>
        <hr class="hr-text or" data-content="OR">
        <div class="text-center">
            <a href="/login" id="register-btn">Login</a>
        </div>
    <% } %>
</div>

<%- include('./partials/footer.ejs'); %>